{% extends 'nav.html.twig' %}

{% block page_content %}
    <nav class="flex mb-4" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-3">
            <li class="inline-flex items-center">
                <a href="/" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                    <svg aria-hidden="true" class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
                    Dashboard
                </a>
            </li>
            <li aria-current="page">
                <div class="flex items-center">
                    <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                    <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2 dark:text-gray-400">Éléments</span>
                </div>
            </li>
        </ol>
    </nav>

    <div class="mb-4 border-b border-gray-200 dark:border-gray-700 mx-1.5">
        <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
            {% for elem in elems %}
                <li class="mr-2" role="presentation">
                    <button class="flex inline-block p-4" id ="{{ elem.getName() }}-tab" data-tabs-target="#{{ elem.getName() }}" type="button" role="tab" aria-controls="{{ elem.getName() }}" aria-selected="false"
                        style="line-height: 2rem; border-bottom-width: 2px;">
                        <img src="/elems/{{ elem.getId() }}" alt="{{ elem.getId() }}"
                            style="height: 2rem; margin-right: 0.5rem"/>
                        {{ elem.getName() }}
                    </button>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="myTabContent">
        {% for elem in elems %}
            <div class="hidden p-4 rounded-lg bg-gray-100 dark:bg-gray-800" id="{{ elem.getName() }}" role="tabpanel" aria-labelledby="{{ elem.getName() }}-tab">
                <h3 class="text-3xl font-bold dark:text-white">Magies de l'élément {{ elem.getName() }}</h3>
                <!--p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">{{ elem.getName() }} tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p-->

                <div class="relative overflow-x-auto shadow-md sm:rounded-lg"
                    style="margin: 2rem 0.75rem 1rem;">
                    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-center"
                                style="border-top-left-radius: 0.5rem">
                                Nom
                            </th>
                            <th scope="col" class="px-6 py-3 text-center">
                                Éléments
                            </th>
                            <th scope="col" class="px-6 py-3 text-center">
                                Utilisateurs
                            </th>
                            <th scope="col" class="px-6 py-3 text-center">
                                Description
                            </th>
                            <th scope="col" class="px-6 py-3 text-center w-1"
                                style="border-top-right-radius: 0.5rem; min-width: 0.25rem">
                                <span class="sr-only">Consulter</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for magic in magics[elem.getName()] %}

                            {% if not loop.last %}
                            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                                    style="padding-top: 0.5rem; padding-bottom: 0.5rem">
                                    {{ magic.getName() }}
                                </th>
                                <td class="px-6 py-4" style="padding-top: 0.5rem; padding-bottom: 0.5rem">
                                    <div class="flex">
                                        {% for innerElem in magic.getElems() %}
                                            <img src="/elems/{{ innerElem.getId() }}" alt="{{ innerElem.getId() }}"
                                                style="width: 1.75rem">
                                        {% endfor %}
                                    </div>
                                </td>
                                <td class="px-6 py-4 text-center" style="padding-top: 0.5rem; padding-bottom: 0.5rem">
                                    {{ magicCounts[magic.getId()] }}
                                </td>
                                <td class="px-6 py-4"
                                    style="padding-top: 0.5rem; padding-bottom: 0.5rem">
                                    {{ magic.getDescription() }}
                                </td>
                                <td class="px-6 py-4 text-center"
                                    style="padding-top: 0.5rem; padding-bottom: 0.5rem">
                                    <a href="/magics/{{ magic.getId() }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Consulter</a>
                                </td>
                            </tr>
                            {% endif %}

                        {% endfor %}

                        <!-- Last line! -->
                        <tr class="bg-white dark:bg-gray-900 hover:bg-gray-50 dark:hover:bg-gray-600">
                            {% if magics[elem.getName()]|length > 0 %}
                                {% set magic = magics[elem.getName()]|last %}
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                                    style="border-bottom-left-radius: 0.5rem; padding-top: 0.5rem; padding-bottom: 0.5rem">
                                    {{ magic.getName() }}
                                </th>
                                <td class="px-6 py-4" style="padding-top: 0.5rem; padding-bottom: 0.5rem">
                                    <div class="flex">
                                        {% for innerElem in magic.getElems() %}
                                            <img src="/elems/{{ innerElem.getId() }}" alt="{{ innerElem.getId() }}"
                                                 style="width: 1.75rem">
                                        {% endfor %}
                                    </div>
                                </td>
                                <td class="px-6 py-4 text-center" style="padding-top: 0.5rem; padding-bottom: 0.5rem">
                                    {{ magicCounts[magic.getId()] }}
                                </td>
                                <td class="px-6 py-4"
                                    style="max-width: 350px; padding-top: 0.5rem; padding-bottom: 0.5rem">
                                    {{ magic.getDescription() }}
                                </td>
                                <td class="px-6 py-4 text-center"
                                    style="border-bottom-right-radius: 0.5rem; padding-top: 0.5rem; padding-bottom: 0.5rem">
                                    <a href="/magics/{{ magic.getId() }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Consulter</a>
                                </td>
                            {% else %}
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 text-center whitespace-nowrap dark:text-white"
                                    colspan="5"
                                    style="border-bottom-left-radius: 0.5rem; padding-top: 0.5rem; padding-bottom: 0.5rem;
                                       border-bottom-right-radius: 0.5rem">
                                    Pas de magies pour cet élément...
                                </th>
                            {% endif %}
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        {% endfor %}
    </div>
{% endblock %}