{% extends 'nav.html.twig' %}

{% block page_content %}
    <style>
        .mb-14 {
            margin-bottom: 3.5rem;
        }

        .rounded-t-10xl {
            border-top-left-radius: 5rem;
            border-top-right-radius: 5rem;
        }

        .text-4\.5xl {
            font-size: 2.5rem;
            line-height: 3.15rem;
        }
    </style>

    <nav class="hidden lg:flex mb-4" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-3">
            <li class="inline-flex items-center">
                <a href="/" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                    <svg aria-hidden="true" class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
                    Dashboard
                </a>
            </li>
            <li aria-current="page">
                <div class="flex items-center">
                    <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                    <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2 dark:text-gray-400">Magies</span>
                </div>
            </li>
        </ol>
    </nav>

    <nav class="flex ml-6 mb-24 lg:hidden">
        <a href="/" class="inline-flex items-center text-3xl lg:text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
            <svg aria-hidden="true" class="w-12 h-12 rotate-180 mr-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
            Retour au Dashboard
        </a>
    </nav>

    <div id="myTabContent">
        <div class="hidden lg:block p-4 rounded-lg bg-gray-100 dark:bg-gray-800">
            <h3 class="text-3xl font-bold dark:text-white">Liste des magies</h3>

            <div class="relative overflow-x-auto shadow-md sm:rounded-lg"
                 style="margin: 2rem 0.75rem 1rem;">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3 text-center"
                            style="border-top-left-radius: 0.5rem">
                            Nom
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                            Éléments
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                            Description
                        </th>
                        <th scope="col" class="px-3 py-3 text-center w-1"
                            style="border-top-right-radius: 0.5rem; min-width: 0.25rem">
                            <span class="sr-only">Consulter</span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for magic in magics %}

                        {% if not loop.last %}
                            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                                    style="padding-top: 0.5rem; padding-bottom: 0.5rem">
                                    {{ magic.getName() }}
                                </th>
                                <td class="px-6 py-4" style="padding-top: 0.5rem; padding-bottom: 0.5rem">
                                    <div class="flex">
                                        {% for innerElem in magic.getElems() %}
                                            <img src="/elems/{{ innerElem.getId() }}" alt="{{ innerElem.getId() }}"
                                                 style="width: 1.75rem">
                                        {% endfor %}
                                    </div>
                                </td>
                                <td class="px-6 py-4"
                                    style="max-width: 350px; padding-top: 0.5rem; padding-bottom: 0.5rem;
                                           text-overflow: ellipsis; overflow: hidden; white-space: nowrap">
                                    {{ magic.getDescription() }}
                                </td>
                                <td class="px-3 py-4 text-center max-w-min"
                                    style="padding-top: 0.5rem; padding-bottom: 0.5rem">
                                    <a href="/magics/{{ magic.getId() }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Consulter</a>
                                </td>
                            </tr>
                        {% endif %}

                    {% endfor %}

                    <!-- Last line! -->
                    <tr class="bg-white dark:bg-gray-900 hover:bg-gray-50 dark:hover:bg-gray-600">
                        {% if magics|length > 0 %}
                            {% set magic = magics|last %}
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                                style="border-bottom-left-radius: 0.5rem; padding-top: 0.5rem; padding-bottom: 0.5rem">
                                {{ magic.getName() }}
                            </th>
                            <td class="px-6 py-4" style="padding-top: 0.5rem; padding-bottom: 0.5rem">
                                <div class="flex">
                                    {% for innerElem in magic.getElems() %}
                                        <img src="/elems/{{ innerElem.getId() }}" alt="{{ innerElem.getId() }}"
                                             style="width: 1.75rem">
                                    {% endfor %}
                                </div>
                            </td>
                            <td class="px-6 py-4"
                                style="max-width: 350px; padding-top: 0.5rem; padding-bottom: 0.5rem;
                                           text-overflow: ellipsis; overflow: hidden; white-space: nowrap">
                                {{ magic.getDescription() }}
                            </td>
                            <td class="px-6 py-4 text-center max-w-min"
                                style="border-bottom-right-radius: 0.5rem; padding-top: 0.5rem; padding-bottom: 0.5rem">
                                <a href="/magics/{{ magic.getId() }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Consulter</a>
                            </td>
                        {% else %}
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                                style="border-bottom-left-radius: 0.5rem; padding-top: 0.5rem; padding-bottom: 0.5rem"
                                colspan="5">
                                Pas de magies trouvées...
                            </th>
                        {% endif %}
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="flex justify-end">
                <p class="text-right text-sm text-gray-900 dark:text-white">Total : {{ magics|length }}</p>
            </div>

        </div>

        <div class="lg:hidden">
            <h3 class="text-7xl font-bold dark:text-white mb-14">Liste des magies</h3>

            <div class="absolute left-0 w-screen p-10 pt-16 rounded-t-10xl bg-gray-100 dark:bg-gray-800">
                <div class="grid grid-cols-1 gap-8">
                    {% for magic in magics %}
                        <div class="w-full p-6 bg-white border-2 border-gray-200 rounded-3xl shadow dark:bg-gray-700 dark:border-gray-700">
                            <div class="flex flex-row justify-between items-center mb-6">
                                <div>
                                    <a href="/magics/{{ magic.getId() }}">
                                        <h5 class="text-5xl font-bold tracking-tight text-gray-900 dark:text-white">{{ magic.getName() }}</h5>
                                    </a>
                                </div>

                                <div class="flex flex-row mb-4">
                                    {% for innerElem in magic.getElems() %}
                                        <img src="/elems/{{ innerElem.getId() }}" alt="{{ innerElem.getId() }}" class="w-16 h-16">
                                    {% endfor %}
                                </div>
                            </div>
                            <p class="text-4xl font-normal text-gray-600 dark:text-gray-400 mb-6">{{ magic.getDescription() }}</p>

                            <a href="/magics/{{ magic.getId() }}" class="inline-flex items-center justify-center w-full mt-2 px-3 py-3 text-4.5xl text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-8 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                Consulter
                                <svg class="w-6 h-6 ml-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"></path>
                                </svg>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}