{% extends 'nav.html.twig' %}

{% block page_content %}
    <nav class="flex mb-4" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-3">
            <li class="inline-flex items-center">
                <a href="/" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                    <svg aria-hidden="true" class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
                    Dashboard
                </a>
            </li>
            <li>
                <div class="flex items-center">
                    <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                    <a href="/magics/" class="ml-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ml-2 dark:text-gray-400 dark:hover:text-white">Magies</a>
                </div>
            </li>
            <li aria-current="page">
                <div class="flex items-center">
                    <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                    <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2 dark:text-gray-400">{{ magic.getName() }}</span>
                </div>
            </li>
        </ol>
    </nav>

    <div class="flex">
        <h3 class="text-3xl font-bold dark:text-white p-4">{{ magic.getName() }}</h3>
        {% for innerElem in magic.getElems() %}
            <img src="/elems/{{ innerElem.getId() }}" alt="{{ innerElem.getId() }}"
                 style="width: 2.75rem; height: 2.75rem; margin-top: 0.75rem">
        {% endfor %}
    </div>

    <div id="myTabContent">
        <div class="p-4 rounded-lg bg-gray-100 dark:bg-gray-800" id="general" role="tabpanel" aria-labelledby="general-tab">
            <div class="flex w-full">

                <div class="flex-auto relative overflow-x-auto sm:rounded-lg"
                     style="margin: 0.75rem 1rem 1rem 0.75rem; flex: auto">
                    <h4 class="mb-2 text-2xl font-bold dark:text-white">Description</h4>
                    <p class="text-left text-base text-gray-900 dark:text-white">
                        {{ magic.getDescription() }}
                    </p>
                </div>

                <div class="flex-none" style="width: fit-content; height: fit-content;
                                              margin: 0.5rem 0.75rem 0">
                    <h4 class="mb-2 text-xl font-bold dark:text-white">{{ users|length }} utilisateur(s)</h4>
                    <ul>
                        <li class="text-left text-base text-gray-900 dark:text-white">
                            <a href="/magics/{{ magic.getId() }}/instinct" class="hover:text-gray-500 dark:hover:text-gray-300">
                                {{ instinct }} par instinct
                            </a>
                        </li>
                        <li class="text-left text-base text-gray-900 dark:text-white">
                            <a href="/magics/{{ magic.getId() }}/learnt" class="hover:text-gray-500 dark:hover:text-gray-300">
                                {{ learned }} par apprentissage
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div style="margin: 0 0.75rem">
                <h4 class="mb-2 text-2xl font-bold dark:text-white">Liste des utilisateurs</h4>
                <table class="w-full text-sm shadow-md mb-4 text-left text-gray-500 dark:text-gray-400"
                       style="border-radius: 0.5rem">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3 text-center"
                            style="border-top-left-radius: 0.5rem">
                            Nom
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                            Potentiel
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                            Première magie
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                            Seconde magie
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                            Pays d'origine
                        </th>
                        <th scope="col" class="px-6 py-3 text-center w-1"
                            style="border-top-right-radius: 0.5rem; min-width: 0.25rem">
                            <span class="sr-only">Consulter</span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for charac in users %}

                        {% if not loop.last %}
                            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                                    style="padding-top: 0.5rem; padding-bottom: 0.5rem">
                                    {{ charac.getFirstNames() }} {{ charac.getLastNames() }}
                                </th>
                                <td class="px-6 py-4 text-center" style="padding-top: 0.5rem; padding-bottom: 0.5rem">
                                    {% if charac.getMagicalPotential() is not null %}
                                        {{ charac.getMagicalPotential() }} U
                                    {% endif %}
                                </td>
                                <td class="px-6 py-4" style="padding-top: 0.5rem; padding-bottom: 0.5rem">
                                    <a href="/magics/{{ charac.getMagics()[0].getId() }}" class="font-medium hover:text-gray-600 dark:hover:text-gray-300">
                                        {{ charac.getMagics()[0].getName() }}
                                    </a>
                                </td>
                                <td class="px-6 py-4" style="padding-top: 0.5rem; padding-bottom: 0.5rem">
                                    {% if charac.getMagics()|length > 1 %}
                                        <a href="/magics/{{ charac.getMagics()[1].getId() }}" class="font-medium hover:text-gray-600 dark:hover:text-gray-300">
                                            {{ charac.getMagics()[1].getName() }}
                                        </a>
                                    {% endif %}
                                </td>
                                <td class="px-6 py-4"
                                    style="max-width: 350px; padding-top: 0.5rem; padding-bottom: 0.5rem">
                                    <a href="/nations/{{ charac.getOrigin().getId() }}" class="font-medium hover:text-gray-600 dark:hover:text-gray-300">
                                        {{ charac.getOrigin().getName() }}
                                    </a>
                                </td>
                                <td class="px-6 py-4 text-center"
                                    style="padding-top: 0.5rem; padding-bottom: 0.5rem">
                                    <a href="/characs/{{ charac.getId() }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Consulter</a>
                                </td>
                            </tr>
                        {% endif %}

                    {% endfor %}

                    <!-- Last line! -->
                    <tr class="bg-white dark:bg-gray-900 hover:bg-gray-50 dark:hover:bg-gray-600">
                        {% if users|length > 0 %}
                            {% set charac = users|last %}
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                                style="border-bottom-left-radius: 0.5rem; padding-top: 0.5rem; padding-bottom: 0.5rem">
                                {{ charac.getFirstNames() }} {{ charac.getLastNames() }}
                            </th>
                            <td class="px-6 py-4 text-center" style="padding-top: 0.5rem; padding-bottom: 0.5rem">
                                {% if charac.getMagicalPotential() is not null %}
                                    {{ charac.getMagicalPotential() }} U
                                {% endif %}
                            </td>
                            <td class="px-6 py-4" style="padding-top: 0.5rem; padding-bottom: 0.5rem">
                                <a href="/magics/{{ charac.getMagics()[0].getId() }}" class="font-medium hover:text-gray-600 dark:hover:text-gray-300">
                                    {{ charac.getMagics()[0].getName() }}
                                </a>
                            </td>
                            <td class="px-6 py-4" style="padding-top: 0.5rem; padding-bottom: 0.5rem">
                                {% if charac.getMagics()|length > 1 %}
                                    <a href="/magics/{{ charac.getMagics()[1].getId() }}" class="font-medium hover:text-gray-600 dark:hover:text-gray-300">
                                        {{ charac.getMagics()[1].getName() }}
                                    </a>
                                {% endif %}
                            </td>
                            <td class="px-6 py-4"
                                style="max-width: 350px; padding-top: 0.5rem; padding-bottom: 0.5rem">
                                <a href="/nations/{{ charac.getOrigin().getId() }}" class="font-medium hover:text-gray-600 dark:hover:text-gray-300">
                                    {{ charac.getOrigin().getName() }}
                                </a>
                            </td>
                            <td class="px-6 py-4 text-center"
                                style="border-bottom-right-radius: 0.5rem; padding-top: 0.5rem; padding-bottom: 0.5rem">
                                <a href="/characs/{{ charac.getId() }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Consulter</a>
                            </td>
                        {% else %}
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 text-center whitespace-nowrap dark:text-white"
                                colspan="6"
                                style="border-bottom-left-radius: 0.5rem; padding-top: 0.5rem; padding-bottom: 0.5rem;
                                   border-bottom-right-radius: 0.5rem">
                                Pas de mages pour cette magie...
                            </th>
                        {% endif %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}