{% extends 'nav.html.twig' %}

{% set extraString = "" %}
{% for extra in extras %}
    {% set extraString = extraString ~ extra.getId() %}
    {% if not loop.last %}
        {% set extraString = extraString ~ "," %}
    {% endif %}
{% endfor %}

{% block page_content %}
    <script type="application/javascript">
        let extras = [
            {{ extraString }}
        ];

        function expandView(shouldExpand) {

            let expand = document.getElementById('expand-view-switch');
            let reduce = document.getElementById('reduce-view-switch');

            let wdw = document.getElementById('wdw');

            switch(shouldExpand) {
                case true:
                    wdw.style.maxWidth = "unset";
                    expand.setAttribute("style", "display: none");
                    reduce.setAttribute("style", "display: unset");
                    break;
                case false:
                    wdw.style.maxWidth = "1280px";
                    reduce.setAttribute("style", "display: none");
                    expand.setAttribute("style", "display: unset");
                    break;
            }
        }

        function removeCharac(characClass) {
            let characCols = document.getElementsByClassName(characClass);
            for (let i = characCols.length-1; i >= 0; i--) characCols[i].remove();

            let index = extras.indexOf(characClass.substring(3));
            extras.splice(index, 1);

            let extrasField = document.getElementById("extras")
            let extraString = "";
            for (let i = 0; i < extras.length; i++) {
                extraString += "," + extras[i];
            }
            extrasField.value = extraString.substring(1);
        }
    </script>
    <div class="flex flex-wrap items-center justify-between">
        <div class="md:order-1 mb-4">
            <nav class="flex" aria-label="Breadcrumb">
                <ol class="inline-flex items-center space-x-1 md:space-x-3">
                    <li class="inline-flex items-center">
                        <a href="/" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                            <svg aria-hidden="true" class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <div class="flex items-center">
                            <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                            <a href="/events/" class="ml-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ml-2 dark:text-gray-400 dark:hover:text-white">Événements</a>
                        </div>
                    </li>
                    <li aria-current="page">
                        <div class="flex items-center">
                            <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                            <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2 dark:text-gray-400">{{ charac.getFirstNames() }} {{ charac.getLastNames() }}</span>
                        </div>
                    </li>
                </ol>
            </nav>
        </div>

        <div class="md:order-2 mb-4">
            <button id="expand-view-switch" aria-controls="expand-view" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                    onclick="expandView(true)">
                <span class="sr-only">Expand view</span>
                <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10.21 14.77a.75.75 0 01.02-1.06L14.168 10 10.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                    <path fill-rule="evenodd" d="M4.21 14.77a.75.75 0 01.02-1.06L8.168 10 4.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                </svg>
            </button>
            <button id="reduce-view-switch" aria-controls="expand-view" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                    onclick="expandView(false)" style="display: none">
                <span class="sr-only">Reduce view</span>
                <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M15.79 14.77a.75.75 0 01-1.06.02l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 111.04 1.08L11.832 10l3.938 3.71a.75.75 0 01.02 1.06zm-6 0a.75.75 0 01-1.06.02l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 111.04 1.08L5.832 10l3.938 3.71a.75.75 0 01.02 1.06z" clip-rule="evenodd" />
                </svg>
            </button>
        </div>
    </div>

    <div class="p-4 rounded-lg bg-gray-100 dark:bg-gray-800" id="period" role="tabpanel" aria-labelledby="period-tab">
        <div class="flex-auto relative sm:rounded-lg"
             style="margin: 0.5rem 1rem 0 0.75rem; flex: auto">
            <div class="flex flex-wrap items-center justify-between">
                <h3 class="md:order-1 text-xl font-bold dark:text-white"
                    style="margin-bottom: 1rem">Liste des événements pour {{ charac.getFirstNames() }} {{ charac.getLastNames() }}</h3>

                <div class="md:order-2 mb-4">
                    <button id="addCharacModalBtn" data-modal-toggle="addCharacModal" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button"
                            style="padding: 0.5rem 0.5rem 0.5rem 0.25rem">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6">
                            <path d="M10.75 6.75a.75.75 0 00-1.5 0v2.5h-2.5a.75.75 0 000 1.5h2.5v2.5a.75.75 0 001.5 0v-2.5h2.5a.75.75 0 000-1.5h-2.5v-2.5z" />
                        </svg>
                        Personnage
                    </button>
                </div>
            </div>

            <div class="shadow-md mb-4" style="overflow-x: auto; border-radius: 0.5rem">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3 text-center"
                            style="border-top-left-radius: 0.5rem;
                                   padding-left: 0.5rem; padding-right: 0.25rem">
                            Début
                        </th>
                        <th scope="col" class="px-6 py-3 text-center"
                            style="padding-left: 0.25rem; padding-right: 0.25rem">
                            Fin
                        </th>
                        <th scope="col" class="px-6 py-3 text-center"
                            style="padding-left: 0.25rem; padding-right: 0.25rem">
                            Événements
                        </th>
                        <th scope="col" class="px-6 py-3 text-center"
                            style="padding-left: 0.25rem; padding-right: 0.25rem;
                            {% if family|length == 0 and extras|length == 0 %}
                                   border-top-right-radius: 0.5rem
                            {% endif %}"
                        >
                            {{ charac.getFirstNames() }} {{ charac.getLastNames() }}
                        </th>
                        {% for fmlCharac in family %}
                        <th scope="col" class="px-6 py-3 text-center"
                            style="padding-left: 0.25rem; padding-right: 0.5rem;
                            {% if loop.last and extras|length == 0 %}
                                   border-top-right-radius: 0.5rem;
                            {% endif %}">
                            {{ fmlCharac.getFirstNames() }} {{ fmlCharac.getLastNames() }}
                        </th>
                        {% endfor %}
                        {% for extra in extras %}
                        <th scope="col" class="text-center ex-{{ extra.getId() }} hover:bg-red-500"
                            {% if loop.last %}
                                style="border-top-right-radius: 0.5rem"
                            {% endif %}>
                            <button type="button" onclick="removeCharac('ex-{{ extra.getId() }}')" class="px-6 py-3 uppercase"
                                    style="padding-left: 0.25rem; padding-right: 0.5rem">
                                {{ extra.getFirstNames() }} {{ extra.getLastNames() }}
                            </button>
                        </th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>

                    {% for event in events %}

                        {% if not loop.last %}
                            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white
                                                       text-center"
                                    style="padding: 0.5rem 0.25rem 0.5rem 0.5rem">
                                    {{ event.getStartingDate().format('d/m/Y') }}
                                </th>
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white
                                                       text-center"
                                    style="padding: 0.5rem 0.25rem">
                                    {{ event.getEndingDate().format('d/m/Y') }}
                                </th>
                                <td style="padding: 0.5rem 0.25rem; min-width: 47rem">
                                    {{ event.getDescription() }}
                                </td>
                                <td class="text-center" style="padding: 0.5rem 0.25rem">
                                    {{ ages[event.getId()~"-"~charac.getId()] }}
                                </td>
                                {% for fmlCharac in family %}
                                <td class="text-center" style="padding: 0.5rem 0.5rem 0.5rem 0.25rem">
                                    {{ ages[event.getId()~"-"~fmlCharac.getId()] }}
                                </td>
                                {% endfor %}
                                {% for extra in extras %}
                                <td class="text-center ex-{{ extra.getId() }}" style="padding: 0.5rem 0.5rem 0.5rem 0.25rem">
                                    {{ ages[event.getId()~"-"~extra.getId()] }}
                                </td>
                                {% endfor %}
                            </tr>
                        {% endif %}

                    {% endfor %}

                    <!-- Last line! -->
                    <tr class="bg-white dark:bg-gray-900 hover:bg-gray-50 dark:hover:bg-gray-600">
                        {% if events|length > 0 %}
                            {% set event = events|last %}
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white
                                                   text-center"
                                style="border-bottom-left-radius: 0.5rem; padding: 0.5rem 0.25rem 0.5rem 0.5rem">
                                {{ event.getStartingDate().format('d/m/Y') }}
                            </th>
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white
                                                   text-center"
                                style="padding: 0.5rem 0.25rem">
                                {{ event.getEndingDate().format('d/m/Y') }}
                            </th>
                            <td style="padding: 0.5rem 0.25rem; min-width: 47rem">
                                {{ event.getDescription() }}
                            </td>
                            <td class="text-center" style="padding: 0.5rem 0.25rem;
                            {% if family|length == 0 and extras|length == 0 %}
                                border-bottom-right-radius: 0.5rem
                            {% endif %}">
                                {{ ages[event.getId()~"-"~charac.getId()] }}
                            </td>
                            {% for fmlCharac in family %}
                            <td class="px-6 py-4 text-center" style="padding: 0.5rem 0.5rem 0.5rem 0.25rem;
                            {% if loop.last and extras|length == 0 %}
                                    border-bottom-right-radius: 0.5rem;
                            {% endif %}">
                                {{ ages[event.getId()~"-"~fmlCharac.getId()] }}
                            </td>
                            {% endfor %}
                            {% for extra in extras %}
                            <td class="px-6 py-4 text-center ex-{{ extra.getId() }}" style="padding: 0.5rem 0.5rem 0.5rem 0.25rem;
                            {% if loop.last %}
                                    border-bottom-right-radius: 0.5rem;
                            {% endif %}">
                                {{ ages[event.getId()~"-"~extra.getId()] }}
                            </td>
                            {% endfor %}
                        {% else %}
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 text-center whitespace-nowrap dark:text-white"
                                colspan="{{ 5 + family|length + extras|length }}"
                                style="border-bottom-left-radius: 0.5rem; padding-top: 0.5rem; padding-bottom: 0.5rem;
                                   border-bottom-right-radius: 0.5rem">
                                Pas d'événements trouvés pour ce personnage
                            </th>
                        {% endif %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="addCharacModal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full">
        <div class="relative p-4 w-full h-full md:h-auto"
            style="max-width: 768px">
            <!-- Modal content -->
            <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
                <!-- Modal header -->
                <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                        Ajouter un personnage
                    </h3>
                    <button type="button" class="flex justify-center text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-900" data-modal-toggle="addCharacModal"
                        style="width: 1.75rem; height: 1.75rem">
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <form method="get" action="">
                    <input id="extras" type="text" name="extra" value="{{ extraString }}"
                           style="display: none">
                    <div class="mb-4">
                        <label for="charac" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Personnage</label>
                        <select id="charac" name="new" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                            <option values="0" selected=""></option>
                            {% for smolCharac in characList %}
                                <option value="{{ smolCharac.getId() }}">{{ smolCharac.getFirstNames() }} {{ smolCharac.getLastNames }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        <svg class="mr-1 -ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                            style="margin-right: 0.25rem">
                            <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path>
                        </svg>
                        Ajouter
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}